<body>
<div class="background-image">

<div class="header col-1-1">
  <ul>

    <li class="pull-right"><form>
      <input type="text" name="zipcode">
      <button class="myButton">Submit</button>
    </form></li>
    <li class="pull-right padding-top-sm">Enter your Zip Code:&nbsp &nbsp  </li>
    </ul>
</div>

{{outlet}}

</div>

<div class="logo">
  <center><h2>CONCERT<br><span class="second-logo">match</span></h2></center>
</div>

</body>

