/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  padding: 0;
  margin: 0px;
  height: 100%;
  color: white;
    background-color: black;

 }

/* HEADER */
.header {
  background-color: black;
  top: 0;
  left: 0;
  height: 60px;
  color: white;
  position: fixed;
/*  font-family: 'Oswald', sans-serif;
  font-weight: 400;*/
  font-size: 13px;
  height: 8%;
  color: white;
  width: 100%;
}

.header a, a:link, a:visited, a:hover {
  font-color: white;
  font-decoration: none;
}

ul li {
  list-style-type: none;
}


/* LOGO */



.logo {
  padding-left: 0.5%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}

.logo h2 {
  font-size: 70px;
  color: white;
  line-height: 30px;
}

.second-logo {
  color: #E62E00;
  font-size: 50px;
}



/* BACKGROUND  */
.background-image {
  background-image: url("https://farm3.staticflickr.com/2526/4149497419_bcf64ea273_o.jpg");
  /*position: fixed;*/
  background-repeat: no-repeat;
  min-height: 900px;
  min-width: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*.white-background {
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
}*/



/* GEN */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.padding-lg {
  padding: 5%;
}


/* BUTTON DESIGN */



/* CONCERT DESIGN UL */
/*.concert-des ul {
}

.concert-des ul li {
  color: black;
  background-color: white;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}*/

.concert-design {
  font-size: 20px;
  color: white;
}


/* FOOOTER */

