/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  padding: 0;
  margin: 0px;
  height: 100%;
  color: white;
  background-color: black;
 }

/* HEADER */
.header {
  background-color: black;
  top: 0;
  left: 0;
  height: 60px;
  color: white;
  position: fixed;
  font-size: 13px;
  height: 8%;
  color: white;
  width: 100%;
}

.header a, a:link, a:visited, a:hover {
  font-color: white;
  font-decoration: none;
}

/* LOGO */

.logo {
  padding-left: 1.5%;
  position: fixed;
  bottom: 0;
}

.logo h2 {
  font-size: 75px;
  color: white;
  line-height: 30px;
}

.second-logo {
  color: #E62E00;
  font-size: 55px;
}



/* BACKGROUND  */
.background-image {
  background-image: url("https://farm3.staticflickr.com/2526/4149497419_bcf64ea273_o.jpg");
  background-repeat: no-repeat;
  min-height: 1000px;
  min-width: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* GENERAL */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.padding-lg {
  padding: 5%;
}

ul li {
  list-style-type: none;
}

.padding-top-sm {
  padding-top: 0.5%;
}


/* BUTTON DESIGN */

.myButton {
  background-color: #a73f2d;
  border:1px solid #241d13;
  display: inline-block;
  color:#ffffff;
  font-family:arial;
  font-size: 10px;
  font-weight:bold;
  padding: 5px 18px;
  text-decoration: none;
  text-shadow:0px -1px 0px #7a2a1d;
}

.myButton:hover {
  background-color:#b34332;
}

.myButton:active {
  position:relative;
  top:1px;
}

/* CONCERT DESIGN UL */

.concert-design {
  font-size: 15px;
  color: white;
}

.concert-design ul li {
  font-size: 8px;
}

/*  COLORS */

.border-grey {
  border: 1px solid #1e1e1e;
  margin-left: 5%;
}

.black-ground {
  background-color: black;
  float: right;
}

.fontblack {
  color: black;
}